<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Count</title>
</head>
<body>
<h1>there are words in text below {{ length }}</h1>
<p>{{ text }}</p>
<p>
    {% for word, count_total in sorted_dictionary %}
        {{ count_total }} - {{ word }}
        <br>
    {% endfor %}
</p>
<a href="{% url 'home' %}">home</a>

</body>
</html>
